@media screen and (max-width: 450px) {
    h1 {
        font-size: 32px;
    }
    input {
        width: 95%;
    }
    form {
        padding: 10px;
    }
    #idea-body-input {
        height: 5em;
        width: 95%;
        text-align: left;
    }
    ul {
        width: 90%;
    }
    #search-input {
        width: 90%;
    }
}
