body{


}

header{
  text-align: center;
  background-color: #E5F3F2;
  padding-top: 20px;
}

h1{
  display: inline-block;
  font-size: 45px;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  padding: 0;
  border: 0;
}

#idea-title{
  color: #00A79D
}

#box-title{
  margin-left: -3px;
  color: #6D6E71
}

form{
  text-align: center;
  background-color: #E5F3F2;
  padding: 20px;
  margin-bottom: 25px;
}

input{
  border-width: 1px;
  border-style: solid;
  border-color: #D1d3d4;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 25px;
}

#submit-button{
  background-color: #00A79D;
  border-style: none;
  color: #ffffff;
}

#submit-button:hover{
  background-color: #045E55;
  color: #ffffff;
  border-style: none;
}

ul{
width: 400px;
margin: auto;
}

li{
  border-bottom: 2px #D1d3d4 solid;
  margin-bottom: 10px;
}

.idea-header{
  display: flex;
  align-items: center;
}

h2{
  color: #6D6E71;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
}

.delete-btn{
  display: inline-block;
  margin-left: 260px;
  background: none;
  border: none;
  height: 35px;
  width: 35px;
}

.delete-btn:focus{
  outline: none;
}

.idea-body{
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.idea-footer{
  display: flex;
  align-items: center;
}

.upvote-btn{
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  height: 35px;
  width: 35px;
}

.downvote-btn{
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  height: 35px;
  width: 35px;
}

.idea-footer span{
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;

}
.idea-quality{
  color: #6D6E71;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin-left: 50px;
  align-items: center;
}
