body {}
header {
    text-align: center;
    background-color: #E5F3F2;
    padding-top: 20px;
}
h1 {
    font-size: 45px;
    font-family: 'Roboto Slab', serif;
}
#idea-title {
    color: #00A79D
}
#box-title {
    color: #6D6E71
}
form {
    background-color: #E5F3F2;
    padding: 20px;
    margin-bottom: 25px;
}
input, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #D1d3d4;
    font-size: 15px;
    display: block;
    width: 400px;
    height: 25px;
    margin: 10px auto;
}
#submit-button {
    background-color: #00A79D;
    color: #ffffff;
}
#submit-button:hover {
    cursor: pointer;
    background-color: #045E55;
    color: #ffffff;
}
#submit-button:disabled {
    cursor: default;
    background-color: gray;
    color: white;
}
ul {
    width: 400px;
    margin: auto;
}
li {
    border-bottom: 2px #D1d3d4 solid;
    margin-bottom: 10px;
}
.idea-header {
    margin-bottom: 10px;
}
h2 {
    font-size: 25px;
    color: #6D6E71;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
}
.delete-btn {
    display: inline;
    cursor: pointer;
    float: right;
    background: none;
    border: none;
    height: 35px;
    width: 35px;
    outline: none;
}
.idea-body {
    color: #939598;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    word-wrap: break-word;
}
#idea-section {
  font-family: 'Open Sans', sans-serif;
  color: #6D6E71;
  font-size: 15px;
}
#idea-body-input, .bodyField, .titleField {
    border-width: 1px;
    border-style: solid;
    border-color: #D1d3d4;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    height: 1.5em;
    width: 400px;
    resize: none;
    text-align: left;
}
.bodyField {
    height: 4em;
}
.titleField {
    width: 300px;
}
.idea-footer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.upvote-btn, .downvote-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    height: 35px;
    width: 35px;
}
.idea-footer span {
    margin-left: 1em;
}
.idea-quality {
    margin-left: .5em;
}
